body {
    font-family: system-ui, sans-serif;
    padding: 0 max(5%, 20px);
}

header {
    background-color: white;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    column-gap: 50px;
    position: sticky;
    text-align: center;
}

.nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    column-gap: 20px;
}

.nav-link a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    transition: 200ms ease-in;
}

.nav-link:hover a, .nav-link a:focus {
    color: darkcyan;
}

.active a {
    cursor: default;
    /* color: darkcyan; */
    font-weight: bold;
}
